# Django/Python gitignore

*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Database
db.sqlite3
db.sqlite3-journal

# Media / Static
ecosphere/media/
media/
staticfiles/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
ecospher - 8 hours.png
ecospher - 8 hours.excalidraw
EcoSphere ESG Management Platform.pdf
.kiro/
